/* CSS Document */

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 1.33;
	color: #1E4844;
}

h2 {
	font-size: 42px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

p { 
	margin: 20px 0;
}

.container {
	padding: 0 65px;
	margin: 0 auto;
	max-width: 1440px;
}

.button {
	border: 2px solid #ffffff;
	border-radius: 0px 50px 50px 0px;
	min-height: 46px;
	padding: 8px 42px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	background-color: transparent;
}

.list-buttons li {
	background: url("../img/spring.svg") 50% 0 no-repeat;
	background-size: auto 65px;
	padding-top: 65px;
}

.list-buttons li:first-child {
	background-image: none;
	padding-top: 20px;
}

.list-buttons li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	border: 1px solid #ffffff;
	padding: 20px 0;
}

.list-buttons li a.active, .list-buttons li a:hover {
	background-color: #DA6A66;
}

.darkgreen {
	background-color: #1E4844;
	color: #ffffff;
}

.darkgreen a:link, .darkgreen a:visited {
	color: #ffffff;
	text-decoration: none;
}

.lightgreen {
	background-color: #C2D8CC;
	color: #1E4844;
}

.lightgreen a:link, .lightgreen a:visited {
	color: #1E4844;
	text-decoration: none;
}

.header { 
	height: 115px;
}

.header-top {
	text-align: center;
	background: #332B5B;
	height: 32px;
	padding-top: 7px;
}

.header-top p {
	font-size: 14px;
	margin: 0 auto;
}

.header-bottom .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: 82px;
	width: 100%;
	font-size: 16px;
}

.header-bottom .nav a {
	margin-right: 32px;
	display: inline-block;
}

.header-bottom nav, .header-bottom p {
	width: 33%;
	margin-top: 0;
	margin-bottom: 0;
}

.header-bottom .logo {
	text-align: center;
}

.header-bottom p.cart {
	text-align: right;
}

.promo {
	background: #1E4844 url("../img/promo.png") 0 0 no-repeat;
	background-size: cover;
	color: #ffffff;
}

.promo .container {
	padding-top: 85px;
	padding-bottom: 68px;
}

.promo h1 {
	font-size: 42px;
	font-weight: normal;
	max-width: 430px;
	text-align: left;
}

.promo p {
	max-width: 320px;
}

.promo .button {
	font-weight: normal;
	margin: 25px 0;
}

.clients {
}

.clients .container {
	min-height: 131px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.daynight {
	background-color: #1E4844;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
}

.daynight h3 {
	font-size: 23px;
	margin-bottom: 10px;
}

.daynight .button {
	font-size: 17px;
	margin: 60px 0;
	max-width: 232px;
}

.daynight .container {
	max-width: 720px;
	margin-left: 0;
	margin-right: 0;
	padding-right: 50%;
}

.daynight .day, .daynight .night {
	background-size: cover;
	background-position: bottom right;
	width: 50%;
	min-height: 50vw;
	display: flex;
	align-items: flex-end;
}

.daynight .day {
	background-image: url("../img/promo-day.png");
	justify-content: flex-end;
}

.daynight .night {
	background-image: url("../img/promo-night.png");
	justify-content: flex-start;
}

.daynight .night p {
	color: #9B9AC7;
}

.reviews {
	text-align: center;
	padding: 50px 0;
	color: #C2D8CC;
}

.reviews h3 {
	font-size: 19px;
	font-weight: bold;
	color: #ffffff;
	width: 100px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto 67px auto;
}

.reviews h2 {
	font-size: 42px;
	font-weight: normal;
	margin: 0 auto 51px auto;
}

.reviews .author {
	text-transform: uppercase;
	margin-top: 34px;
	font-size: 16px;
	color: #ffffff;
}

.orange {
	color: #FAE9D6;
	background: #C15244 url("../img/orange.png") 100% 50% no-repeat;
	background-size: auto 75vh;
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.orange .container {
	padding-right: 50%;
}

.violet {
	background: #9B9AC7;
	color: #332B5B;
	padding: 45px 0;
	text-align: center;
}

.violet h2 {
}

.violet .container {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;	
}

.v-left, .v-right {
	width: 50%;
	padding: 45px 65px 0 65px;
}

.violet img {
	padding-bottom: 50px;
}

.blue {
	background: #332B5B url("../img/blue.png") 0 0 no-repeat;
	color: #FAE9D6;
	min-height: 720px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.blue .container {
	padding-left: 50%;
}

.blue .button {
	color: #FAE9D6;
	border-color: #FAE9D6;
}

.blue ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

.blue li {
	width: 50%;
	padding: 0 20px 20px 0;
	font-size: 23px;
}

.beige {
	background: #FAE9D6;
	color: #1E4844;
}

.press {
	text-align: center;
	padding: 40px 0;
}

.press-top {
	background: url("../img/bgr-beige1.svg") 50% 100% no-repeat;
	background-size: 100% auto;
	height: 28vw;
	padding: 8vw 18vw 0 20vw;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
}

.press h5 {
	color: #332b5b;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

.clientitem {
	border: 1px solid #1e4844;
	margin: 0 7px -1px 7px;
	padding: 7px;
	height: 100%;
	width: 53px;
	overflow: hidden;
	flex-grow: 1;
	position: relative;
	cursor: pointer;
	text-align: center;
}

.clientitem.active {
	flex-grow: 12;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clientitem:nth-child(3n+1) {
	height: 80%;
}

.clientitem:nth-child(5n+1) {
	height: 87%;
}

.clientitem img {
	width: 300%;
	object-fit: contain;
	transform: rotate(90deg);
	position: relative;
	left: -100%;
	top: 35%;
}

.clientitem.active img {
	width: 90%;
	transform: none;
/*	position: absolute;
	bottom: 80px;
	margin: 0; */
	left: 0;
	top: auto;
}

.clientitemlink {
	display: none;
	color: #1E4844;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 13px;
}

.active .clientitemlink {
	display: block;
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.press-bottom {
	background-image: url("../img/bgr-beige2.svg"), url("../img/bgr-beige3.svg");
	background-position: 50% 0, 50% 100%;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% auto, auto;
	padding: 60px 18vw 100px 18vw;
}

.press-bottom p {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	font-size: 26px;
}

.press-bottom .author {
	font-size: 16px;
}

.footer {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
}

.footer-l {
	padding: 60px 0;
	width: 30vw;
}

.footer-l ul.menu {
	font-size: 23px;
	line-height: 37px;
}

p.copyright {
	font-size: 14px;
	margin: 65px 0 0 0;
}

.footer-r {
	width: 70vw;
	font-size: 16px;
}

.footer-r p {
	margin: 16px 0;
}

.footer-r-top {
	background-image: url("../img/wave2.svg");
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: 70vw auto;
	padding: 60px 0 12vw 0;
}

.f-subscr input {
	border: 2px solid #ffffff;
	color: #ffffff;
	width: 35%;
	background: none;
	border-width: 0 0 2px 0;
	margin-right: 2em;
	padding: 0 0 8px 8px;
}

.f-subscr input::placeholder {
	opacity: 1;
}

.f-subscr input:focus::placeholder {
	opacity: 0.2;
}

.f-subscr .button {
	font-size: 14px;
	padding: 8px 40px;
	height: 36px;
	min-height: 36px;
	width: 180px;
	text-align: center;
}

.footer-r-bottom {
	padding: 10px 0 40px 65px;
	font-size: 14px;
	display: flex;
	align-content: flex-start;
	justify-content: flex-start;
}

.footer-r h3 {
	font-size: 23px;
	font-weight: bold;
	margin-top: 20px;
	white-space: nowrap;
}

.footer-r-top h3 {
	color: #C2D8CC;
	font-weight: normal;
	margin-top: 0;
}

